.task-list {
  &__item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    color: grey;

    &:hover .destroy{
        visibility: visible;
    }
  }
}