.add-form {
  &__toggler {
    position: absolute;
    border: none;
    cursor: pointer;
  }

  &__input {
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    outline: none;
    transition: 0.3s all;   
  }
}