@import "./elements/input/taskinput.component.scss";
@import "./elements/toggler/tasktoggler.component.scss";

.add-form {
  &__toggler {
    position: absolute;
    border: none;
    margin-left: 10px;
    margin-top: 9px;
    cursor: pointer;
  }

  &__input {
    width: 100%;
    outline: none;
    transition: 0.3s all;   
  }
}