:root {
    --blue: 3, 169, 244;
    --darkblue: 33, 150, 243;
    --red: 244, 67, 54;
    --darkred: 229, 57, 53;
}

* {
    margin: 0;
    padding: 0;
}

.title {
    font-size: 22px;
    text-align: center;
    margin: 30px 0;
}

.application {
    max-width: 500px;
    margin: 0 auto;
    padding: 5px;
}

.shadow {
    box-shadow: 0 0 10px 2px rgb(0 0 0 / 34%);
}

.body {
    background-color: white;

    &__form {
        display: flex;
        align-items: center;
    }

    &__list {
        display: flex;
        flex-direction: column;
        list-style: none;
    }
}

.btn {
    padding: 5px;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;

    &-blue {
        background-color: rgb(var(--blue));
        border: 2px solid rgba(var(--blue), 0.63);

        &:active {
            background-color: rgb(var(--darkblue));
        }
    }
    
    &-red {
        background-color: rgb(var(--red));
        border: 2px solid rgb(var(--red), 0.63);

        &:active {
            background-color: rgb(var(--darkred));
        }
    }
}

.hide {
    display: none;
}