@import "mixins/breakpoints";

// Components
@import "./components/footer/taskfooter.component.scss";
@import "./components/header/taskheader.component.scss";
@import "./components/task-list/tasklist.component.scss";

:root {
    --blue: 3, 169, 244;
    --darkblue: 33, 150, 243;
    --red: 244, 67, 54;
    --darkred: 229, 57, 53;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: #f5f5f5;
}

h1 {
    position: absolute;
    width: 100%;
    text-align: center;
    font-weight: 100!important;

    @include respond-to(sm) {
        top: -70px;
        font-size: 50px;
    }
    @include respond-to(md) {
        top: -90px;
        font-size: 70px;
    }
    @include respond-to(lg) {
        top: -110px;
        font-size: 90px;
    }
    @include respond-to(xl) {
        top: -120px;
        font-size: 100px;
    }
}

.title {
    position: relative;
    color: rgba(175, 47, 47, 0.15);
}

.application {
    
    margin: 130px auto;
    position: relative;

    @include respond-to(sm) {
        max-width: 95%;
        font-size: 18px;
    }
    @include respond-to(md) {
        max-width: 85%;
        font-size: 20px;
    }
    @include respond-to(lg) {
        width: 550px;
        font-size: 22px;
    }
    @include respond-to(xl) {
        width: 550px;
        font-size: 24px;
    }
}

.shadow {
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 25px 50px 0 rgb(0 0 0 / 10%);
}

.body {
    background-color: white;

    &__form {
        display: flex;
        align-items: center;
    }

    &__list {
        display: flex;
        flex-direction: column;
        list-style: none;
    }
}

.btn {
    padding: 5px;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;

    &-blue {
        background-color: rgb(var(--blue));
        border: 2px solid rgba(var(--blue), 0.63);

        &:active {
            background-color: rgb(var(--darkblue));
        }
    }
    
    &-red {
        background-color: rgb(var(--red));
        border: 2px solid rgb(var(--red), 0.63);

        &:active {
            background-color: rgb(var(--darkred));
        }
    }

    &-empty {
        background: none;
        border: none;
        font-weight: 100;
        font-size: 30px;
        color: #cc9a9a;
    }
}

.hide {
    display: none;
}

.mark-high {
    border: 1px solid #ff110099;
    background-color: #ff110099;
}

.mark-medium {
    border: 1px solid #ffe50080;
    background-color: #ffe50080;
}

.mark-low {
    border: 1px solid #89ff00d9;
    background-color: #89ff00d9;
}

.mark-none {
    border: 1px solid black;
    background-color: transparent;
}